{
    "accountSid": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "authToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "twilioPhoneNumber": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "userPhoneNumber": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}
